/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image:url('https://pbs.twimg.com/media/Fxto7UTXgAEtKVC.jpg:large') ;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

canvas {
    border: 1px solid #333;
    background-color: #fff;
}
